<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="about-section">
    <section class="about" id="about">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">Get to know more about my background,skills,and what drives me</p>
            </div>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                    <h3 class="about-heading">Developer by skills</h3>
                    <p class="about-text">I am a passionate and dedicated developer with experience in full-stack development using Java, Spring Boot, MySQL, and front-end technologies like HTML, CSS. I’ve worked on real-world projects such as an Electronic Library System and a Leave Management System, where I handled backend logic, database integration, and responsive UI design. I’m comfortable using tools like IntelliJ IDEA, Maven, Tomcat, and Git, and I always aim to write clean, maintainable code that aligns with best practices.</p>
                    <p class="about-text">In addition to my technical abilities, I bring strong soft skills like clear communication, teamwork, and problem-solving. I enjoy collaborating with others, whether it’s discussing technical challenges or aligning on user experience goals. I’m organized, focused, and able to manage deadlines effectively, even under pressure. I also value feedback and use it as a way to continuously grow in both skill and mindset.</p>
                    <p class="about-text">What drives me most is the satisfaction of building something useful and reliable. I don’t just see development as a task, but as a creative process that brings ideas to life. I’m always eager to learn new things, take on challenges, and contribute to projects that make a difference. My goal is to grow as a developer while delivering quality and value through every line of code I write.</p>
                    <!--  Skills  -->
                    <div class="skills-container">
                        <div class="skill-item">
                            <div class="skill-icon">
<!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fab fa-java"></i>
                            </div>
                            <div class="skill-name">Java</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name">Spring Boot</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-solid fa-cloud"></i>
                            </div>
                            <div class="skill-name">EC2</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-brands fa-jenkins"></i>
                            </div>
                            <div class="skill-name">Jenkins</div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="skill-name">SQL</div>
                        </div>
                        <div class="skill-item-down">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-solid fa-gears"></i>
                            </div>
                            <div class="skill-name">Rest API</div>
                        </div>
                        <div class="skill-item-down">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-brands fa-html5"></i>
                            </div>
                            <div class="skill-name">HTML</div>
                        </div>
                        <div class="skill-item-down">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-solid fa-file-code"></i>
                            </div>
                            <div class="skill-name">CSS</div>
                        </div>
                        <div class="skill-item-down">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-solid fa-server"></i>
                            </div>
                            <div class="skill-name">MySQL</div>
                        </div>
                        <div class="skill-item-down">
                            <div class="skill-icon">
                                <!--                                <img src="images/java-logo.png" alt="java-logo" class="skill-logo" width="40px" height="40px">-->
                                <i class="fa-solid fa-code-branch"></i>
                            </div>
                            <div class="skill-name">Git</div>
                        </div>
                    </div>
                </div>
                <div class="about-visual">
                    <div class="about-image-container">
                        <div class="about-image-background">
                            <img src="/images/hero-section.jpg" alt="about" class="about-image">
                        </div>
                        <div class="about-decorations">
                            <div class="about-decoration"></div>
                            <div class="about-decoration"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</th:block>
</html>
